<section id="events" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Events</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h3>Ongoing events</h3>
      </div>
      {% include events/open-source-event-list.html event-type="os-repeat-event" %}
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h3>Onetime events</h3>
      </div>
      {% include events/open-source-event-list.html event-type="os-single-event" %}
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h3>Past events</h3>
      </div>
      {% include events/open-source-event-list.html event-type="os-past-event" %}
    </div>


  </div>
</section>

