<!-- Resources Grid Section -->
<section id="resources" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Mission</h2>
        <h3 class="section-subheading text-muted">Open Community, Open
          Software.</h3>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <p>Fullstack is a group of software developers focoused on building
        better code. We love well crafted open software. We organize events
        focoused on building better coders and better software.</p>
      </div>
    </div>
  </div>
</section>
