<!-- Resources Grid Section -->
<section id="mission" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Mission</h2>
        <h3 class="section-subheading text-muted">
          Open Community & Open Software
        </h3>
        <p>We cultivate community driven events where people find new skills and get excited about building software.</p> 
        <p>We <a href="/values">value</a> open source, skill building, and mentorship.</p>
      </div>
    </div>
  </div>
</section>
