<!-- Resources Grid Section -->
<section id="mission" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Mission</h2>
        <h3 class="section-subheading text-muted">Cultivating Open Community &
          Open Software.</h3>
      </div>
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          Fullstack is a group of Los Angeles-based software developers focused on developing web skills by contributing to open source projects. We're deeply committed to open source and believe pair programming on open source projects is the best way to foster new skills.

          We love well crafted open software. Our commitment to open source drives the focus of our events and future projects. We invite everyone with the same commitment to openness to contribute to our projects and help achieve our future goals.
        </p>

        <div class="values">
          <p>We value:</p>

          <dl class="values">
            <dt>Open Source</dt>
            <dd>Committing to free and open source code that<br /> quickly helps people build web applications.</dd>

            <dt>Skill Building</dt>
            <dd>Teaching new web development skills and leveling up<br /> on those skills through pair programming.</dd>

            <dt>Mentorship</dt>
            <dd>Guiding and counseling the next generation of fullstack developers.</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
