<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Fullstack LA</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#events">Events</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/#orginizers">Organizers</a></li>
        <li><a href="/cfp">CFP</a></li>
        <li><a href="/code-of-conduct">Code of Conduct</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>























<!-- <nav class="navbar navbar&#45;default navbar&#45;fixed&#45;top"> -->
<!--     <div class="container"> -->
<!--         <!&#45;&#45; Brand and toggle get grouped for better mobile display &#45;&#45;> -->
<!--         <div class="navbar&#45;header page&#45;scroll"> -->
<!--             <button type="button" class="navbar&#45;toggle" data&#45;toggle="collapse" data&#45;target="#bs&#45;example&#45;navbar&#45;collapse&#45;1"> -->
<!--                 <span class="sr&#45;only">Toggle navigation</span> -->
<!--                 <span class="icon&#45;bar"></span> -->
<!--                 <span class="icon&#45;bar"></span> -->
<!--                 <span class="icon&#45;bar"></span> -->
<!--             </button> -->
<!--             <a class="navbar&#45;brand page&#45;scroll" href="#page&#45;top">{{site.title}}</a> -->
<!--         </div> -->
<!--  -->
<!--         <!&#45;&#45; Collect the nav links, forms, and other content for toggling &#45;&#45;> -->
<!--         <div class="collapse navbar&#45;collapse" id="bs&#45;example&#45;navbar&#45;collapse&#45;1"> -->
<!--             <ul class="nav navbar&#45;nav navbar&#45;right"> -->
<!--                 <li class="hidden"> -->
<!--                     <a href="#page&#45;top"></a> -->
<!--                 </li> -->
<!--                 <!&#45;&#45; <li> &#45;&#45;> -->
<!--                 <!&#45;&#45;     <a class="page&#38;#45;scroll" href="#services">Services</a> &#45;&#45;> -->
<!--                 <!&#45;&#45; </li> &#45;&#45;> -->
<!--                 <li> -->
<!--                     <a class="page&#45;scroll" href="#events">Events</a> -->
<!--                 </li> -->
<!--                 <li> -->
<!--                     <a class="page&#45;scroll" href="#resources">Resources</a> -->
<!--                 </li> -->
<!--                 <li> -->
<!--                     <a class="page&#45;scroll" href="#orginizers">Orginizers</a> -->
<!--                 </li> -->
<!--                 <li> -->
<!--                     <a class="page&#45;scroll" href="#contact">Contact</a> -->
<!--                 </li> -->
<!--             </ul> -->
<!--         </div> -->
<!--         <!&#45;&#45; /.navbar&#45;collapse &#45;&#45;> -->
<!--     </div> -->
<!--     <!&#45;&#45; /.container&#45;fluid &#45;&#45;> -->
<!-- </nav> -->

