<!-- Spoonsors Aside -->
<aside class="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">Thanks to our sponsors</h3>
      </div>
      <div class="col-md-6 col-sm-6">
        <a href="https://www.stickermule.com/">
          <img src="/img/logos/sticker-mule-logo.png"
          class="img-responsive img-centered"
          alt="Sticker Mule logo">
        </a>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="eighthlight">
          <a href="https://8thlight.com/">
            <img src="/img/logos/8th-Light-Logo-Color.png"
            class="img-responsive img-centered"
            alt="8th Light logo">
          </a>
        </div>
      </div>

      <div class="col-md-12 col-sm-12">
        <div class="eighthlight">
          <a href="https://8thlight.com/">
            <img src="/img/logos/8th-Light-Logo-Color.png"
            class="img-responsive img-centered"
            alt="8th Light logo">
          </a>
          <!-- New Context Goes Here -->
        </div>
      </div>

    </div>
  </div>
</aside>
