<h3>Pairing Programing</h3>
<p>At Fullstack LA, you're never without a coding partner. Like seasoned developers, we embrace the concept of <a href="https://developer.atlassian.com/blog/2015/05/try-pair-programming/" target="_blank">pair programing</a>. Each person is partnered with another person and the pair work together on an open source project of their choosing.</p>

<p>We believe pair programming is essential to the leveling up process at Fullstack LA because it serves as great way to:</p>

<ul>
  <li>Meet new people in the meetup group.<br /><br /></li>
  <li>Share industry knowledge/tools/tips the other person may not know about.<br /><br /></li>
  <li>And spot potential bugs before they happen -- two heads being better than one.<br /><br /></li>
</ul>

<p>Pair programming is sort of like going on a road trip. One person, the <em>driver</em>, sits behind the computer and codes whatever instructions are given by the other person (the <em>navigator</em>). Pairs switch roles after a certain amount of time. The process can be messy, but the destination is all that matters. The destination being a fully functioning app/project!</p>
