<h3>Pair Programing</h3>
<p>At Fullstack LA, you're never without a coding partner. We believe the
concept of <a href="https://developer.atlassian.com/blog/2015/05/try-pair-programming/" target="_blank">🍐 pair programing</a>
is essential to the 💪leveling up process.</p>

<p>Pair programming is sort of like going on a road trip. One person, the
<em>driver</em>, sits behind the computer and codes whatever instructions are
given by the other person (the <em>navigator</em>). Pairs switch roles after a
certain amount of time ⏲.</p>

<p>Pairing serves as a great way for Fullstack members to meet new people in
the group, share knowledge and insights with their partner, and spot potential
bugs before they happen during coding. The process can be messy, but the
destination is all that matters. The destination being a fully functioning
app/project!</p>

