<table class="table table-condensed">
  <tbody>
    <tr>
      <td>6:30 - 7:00</td>
      <td>Social Time</td>
    </tr>
    <tr>
      <td>7:00 - 7:10</td>
      <td>Stand Up: Announcements, introductions &
        share what you're learning at the moment.</td>
    </tr>
    <tr>
      <td>7:10 - 8:20</td>
      <td>Pairing Round</td>
    </tr>
    <tr>
      <td>8:20 - 8:30</td>
      <td>Break</td>
    </tr>
    <tr>
      <td>8:30 - 9:00</td>
      <td>Code Review: If you're lucky, you and your pair will have your pull request reviewed by the group.</td>
    </tr>
    <tr>
      <td>9:00</td>
      <td>Go home! 👞</td>
    </tr>
  </tbody>
</table>
