{% for event in site.events %}
  {% if event.layout == include.event-type %}
    <div class="col-lg-10 col-lg-offset-1 event">
      <div class="col-lg-8">
        <a href={{event.url}}>
          <h1>{{ event.title }}</h1>
        </a>
      </div>
      <div class="col-lg-4 text-center rsvp">
        {% include event-rsvp.html rsvp=event.rsvp %}
      </div>
      <div class="col-lg-12">
        <h4>
          Join us {{ event.event-date }}
          {% if event.location != nil %}
            at {{ event.location-name }}
          {% endif %}
        </h4>
        {{ event.excerpt }}
      </div>
    </div>
  {% endif %}
{% endfor %}
