<h4>Don't forget to bring:</h4>

<ul>
  <li>A laptop (with keyboard/mouse of your choice)  💻 🎹</li>
  <li>A project you want to improve. (optional)</li>
  <li>The most important thing: an open mind  💭💭💭<br /><br /></li>
</ul>

<h4>You should really preinstall:</h4>
<ul>

<li><strong><a href="https://atom.io/" target="_blank">Atom ⚛</a></strong>: It's a free text editor if you don't have one already.<br /><br /></li>

<li><strong>A GitHub account</strong>: So you get instant notifications for daily activity in our <a href="https://github.com/fullstackla" target="_blank">GitHub repo</a>.<br /><br /></li>


<li><strong><a href="https://www.ruby-lang.org/en/documentation/installation/" target="_blank">Ruby</a> and <a href="http://brew.sh/" target="_blank">Homebrew 🍺</a></strong>: For people that want to contribute to Homebrew.<br /><br /></li>


<li><strong><a href="https://nodejs.org/en/download/" target="_blank">Node.js</a></strong>: For people that want to contribute to <a href="http://hood.ie/" target="_blank">Hood.ie</a>, a JavaScript-based open source project that relies on npm. Just install Node.js and you also get npm.</li>


</ul>



