<h4>Don't forget to bring:</h4>

<ul>
  <li>A laptop (with keyboard/mouse of your choice)  💻 🎹</li>
  <li>A project you want to improve. (optional)</li>
  <li>The most important thing: an open mind  💭💭💭<br /><br /></li>
</ul>

<h4>You should really preinstall or get:</h4>
<ul>

<li><strong>Atom ⚛</strong>: We all love our very special development environments, but pair
programing is all about collaboration. It really sucks when Vim gets in the way.<br /><br /></li>


<li><strong>Ruby</strong>: At Fullstack LA, we love Ruby and you or may not need it for your open source projects. But it's nice to know that you already have it preinstalled if you work on, say, <a href="http://brew.sh/" target="_blank">Homebrew</a>.<br /><br /></li>

<li><strong>Homebrew 🍺</strong>: Since we use Ruby, you'll eventually come across Homebrew when you start working on future open source projects. Might as well preinstall it just in case.</li>

<li><strong>npm and Node.js</strong>: One of our current porjects, Hood.ie, is a JavaScript based open source project that relies on npm. Just <a href="https://nodejs.org/en/download/" target="_blank">install Node.js</a> (which comes installed with npm) and you'll have both on your machine for later use.<br /><br /></li>

<li><strong>A GitHub account</strong>: We're very active on GitHub and without it, you won't have access to our meetup show notes highlighting the evening's salient topics or the daily musings/issues we post on our <a href="https://github.com/fullstackla" target="_blank">GitHub repo</a>.</li>
</ul>


