<!-- I recommend we kill this column and make a link to the RFP in the last sentence of the Open Source Event block instead. We should also use the speakver.svg in the RFP page.-->
<h3 class="text-center">Speakers</h3>
<p>If you're a seasoned open source committer/maintainer, we love you and we want you to come show us how it's done! If you have never pushed code to an open source project, you've come to the right place! We are here to help you find projects, identify issues, and understand the process of pull down, building, and pushing up new code.</p>

