<p>Are you ready to roll up your sleeves and contribute to open source?!!!</p>

<p>Fullstack LAs Open Source event focuses on contributing to open source
software and leveling up 💪 our skills.</p>

<p>We invite people from the open source community to come in and introduce
their projects and show us how to contribute.</p>

<p>After a presentation we break into groups and focus on either the guest
speaker's open source project, or other projects Fullstack LA members are
already developing.</p>

<p>Fullstack LA is currently obsessed 💓 with
<a href="http://exercism.io/" target="_blank">exercism.io</a>,
<a href="http://hood.ie/" target="_blank">Hood.ie</a>,
and the <a href="http://brew.sh/" target="_blank">Homebrew</a>
open source projects.</p>

<p>If you or your organization is focused on open source,
<a href="{{base.url}}/rfp">we want to hear from you!</a></p>

