<h3 class="text-center">Speakers</h3>

<p>Fullstack LA is always on the lookout for speakers to present open source projects to our group that they are deeply involved in. We love seasoned open source committers and maintainers! If you fit this description, we want you to come show us how it's done!</p>

<p>While maintainers and core team members are definetly the right people to give these talks; we feel anybody with a clear history of involvement and a passion for a given project would make an excellent ambassador. Learn more about how to bring an open source project to our attention on our <a href="/rfp">RFP page</a>.</p>


