{% for event in site.events %}
  {% if event.layout == include.event-type %}
    <div class="col-lg-10 col-lg-offset-1 event">
      <div class="col-lg-8">
        <a href={{event.url}}>
          {% unless event.title == 'default' %}
            <h1>{{ event.title }}</h1>
          {% else %}
            <h1>Fullstack Open Source</h1>
          {% endunless %}
        </a>
      </div>

      {% if event.layout == "os-past-event" %}
      <div class="col-lg-4 text-center rsvp">
        {% include past-event-rsvp.html rsvp=event.rsvp %}
      </div>

      {% else %}
      <div class="col-lg-4 text-center rsvp">
        {% include event-rsvp.html rsvp=event.rsvp %}
      </div>
      {% endif %}

      <div class="col-lg-12">
        <h4>
          {{ event.event-date }}
          join us
          {% if event.location != nil %}
            at {{ event.location-name }}
          {% endif %}
        </h4>
        {{ event.excerpt }}
      </div>
    </div>
  {% endif %}
{% endfor %}
