@font-face {
  font-family: "fresco-italic";
  src: url('fonts/fresco-italic.woff') format('woff');
}

@font-face {
  font-family: "fresco-sans-regular";
  src: url('fonts/fresco-sans-regular.woff') format('woff');
}

@font-face {
  font-family: "fresco-sans-bold";
  src: url('fonts/fresco-sans-bold.woff') format('woff');
}
