.event {
  background-color: lightgrey;
  margin-bottom: 2em;
}

#events {
  h2 {
    margin-bottom: 2em;
  }
  a {
    color: dimgrey;
    text-decoration: none;
    transition: all, .2s, ease;
  }
  a:hover {
    color: black;
  }
}

.rsvp {
  border-radius: 5px;
  margin: .5em -1.3em .0em .0em;
  padding: .25em 1em .25em 1em;
}
