// Home page event excerpt.
.event {
  background-color: lightgrey;
  margin-bottom: 2em;
}

#events {
  h2 {
    margin-bottom: 2em;
  }
  a {
    color: dimgrey;
    text-decoration: none;
    transition: all, .2s, ease;
  }
  a:hover {
    color: black;
  }
}

.rsvp {
  border-radius: 5px;
  margin: .5em -1.3em .0em .0em;
  padding: .25em 1em .25em 1em;
}

// Event page style.

#map {
    width: 100%;
    height: 35em;
}

body #event {
  background-color: #f8f8ff;
  .event-title {
    color: #f8f8ff;
    background-color: #1a1a1a;
    padding-top: 13em;
    padding-bottom: 6em;
  }
  .icon-img {
    display: block;
    max-width: 15vw;
    margin: auto;
  }
  .smaller-icon {
    max-width: 8em;
  }
  .image-cropper {
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: white;
  }
  .speaker-img {
    display: block;
    max-width: 20vw;
    transform: scale(1);
  }
  .event-flex {
    display: flex;
    align-items: center;
  }
  .event-map {
    background-color: lightgray;
  }
  .event-block-inner {
    display: inline-block;
    vertical-align: middle;
    float: none;
    min-height: 100%
  }
  .excerpt {
    vertical-align: bottom;
  }
  .sponsors {
    background-color: #fff;
  }
  .rsvp {
    margin: 3em;
  }
  .jumbotron {
    margin-bottom: 0;
  }
  .featured-project {
    background-color: lightgray;
    a {
      // color: blue;
    }
  }
  .event-block {
    margin: 2% 0 2% 0;
    padding: 2% 0 2% 0;
  }
}

#event h2 {
    color: #f8f8ff !important;
}

#event .event-block h2 {
    color: black !important;
}

#event.index {
  margin-top: -10px;
  text-decoration: none;
  border-bottom: none !important;
}

