.event {
  background-color: lightgrey;
  margin-bottom: 2em;
}

#events {
  h2 {
    margin-bottom: 2em;
  }
  a {
    color: dimgrey;
    text-decoration: none;
    transition: all, .2s, ease;
  }
  a:hover {
    color: black;
  }
}
