.navbar-brand {
    font-family: $brand-font
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: $primary;
}

a:hover,
a:focus,
a:active,
a.active {
    color: $secondary;
}
