<h3>Parking</h3>
Public Parking Structure 4 — immediately west of the office. (~$4. for 3 hours;
<a href="http://www.smgov.net/Departments/PCD/Transportation/Motorists-Parking/Where-to-Park/">fee schedule</a>)
<h3>Metro</h3>
Expo Line - Downtown Santa Monica Station (<a href="https://www.google.com/maps/dir/Downtown+Santa+Monica/1333+2nd+St,+Santa+Monica,+CA+90401,+US/@34.0143649,-118.4966989,17z/data=!3m1!4b1!4m18!4m17!1m5!1m1!1s0x80c2a4d231bbc005:0x2eaeb4725c8c5f42!2m2!1d-118.491386!2d34.0140114!1m5!1m1!1s0x80c2a4cff204febb:0xceeb84bc7199fe86!2m2!1d-118.4973794!2d34.015689!2m3!6e1!7e2!8j1476297000!3e2" target="_blank">directions</a>) + ~10 min walk.

