<h3>Parking</h3>
Parking is available for free to conference ticket holders. Please park across the street at the Radisson Midtown Los Angeles at 3540 South Figueroa Street, Los Angeles, 90007. When arriving please inform the parking garage attendant that you are here for SCNA.
<h3>Metro</h3>
Expo Line - Expo Park / USC Station (<a href="https://www.google.com/maps/dir/Expo+Park+%2F+USC,+Los+Angeles,+CA+90037/Town+and+Gown,+Exposition+Boulevard,+Los+Angeles,+CA/@34.0192709,-118.2875668,17z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x80c2c7e2eeff8719:0xa169127d40bc1416!2m2!1d-118.2856797!2d34.0181915!1m5!1m1!1s0x80c2c7e269968c5b:0x8e624d537eb90500!2m2!1d-118.2842484!2d34.0191157" target="_blank">directions</a>) + ~5 min walk.

