<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include navbar.html %}

  <div id="event" class="index">
    <div class="jumbotron event-title">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="display-3">Fullstack LA Open Source Past Events</h1>
            <hr class="m-y-5">

            <p class="lead">
              A full archive listing of past Fullstack LA events.
            </p>
          
          </div>

        </div>
      </div>
    </div>

    {% include sponsors.html %}

    <div class="event-block">
      <div class="container">
        <div class="row event-flex">
          <div class="col-lg-6">
            <h2>Open Source Event</h2>
            {% include events/open-source-description.html %}
          </div>
          <div class="col-lg-6">
            <img class="icon-img" src="/assets/icons/code-machine.svg">
          </div>
        </div>
      </div>
    </div>


    <div class="event-block featured-project">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="image-cropper event-flex">
              <a href={{ page.link }}>
                <img class="speaker-img" style="{{ page.image-style }}" src={{ page.image }}>
              </a>
            </div>
          </div>
            <div class="col-lg-6">
              <h2>{{ page.title }}</h2>
              {{ content }}
              This event took place at <strong>{{ page.location-name }}.</strong>
            </div>
        </div>
      </div>
    </div>


    <div class="event-block">
      <div class="container">
        <div class="row event-icon">
          <div class="col-lg-4">
            <img class="icon-img smaller-icon" src="/assets/icons/tools.svg">
            {% include events/open-source-bring.html %}
          </div>
          <div class="col-lg-4">
            <img class="icon-img smaller-icon" src="/assets/icons/pair-programing.svg">
            {% include events/open-source-pair-programing.html %}
          </div>
          <div class="col-lg-4">
            <img class="icon-img smaller-icon" src="/assets/icons/speaker.svg">
            {% include events/open-source-rfp-blurb.html %}
          </div>
        </div>
      </div>
    </div>

  {% include footer.html %}
</html>