<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include navbar.html %}

  <div id="event" class="index">
    <div class="jumbotron event-title">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="display-3">Fullstack LA Open Source</h1>
            <hr class="m-y-5">
            <p class="lead">
              Join us {{ page.event-date }}
              {% if page.location != nil %}
                at {{ page.location-name }}
              {% endif %}
            </p>
          </div>
          <div class="col-lg-6 excerpt">
            {{ page.excerpt }}
            <div class="col-lg-7 col-lg-offset-5">
              {% include event-rsvp.html rsvp=page.rsvp %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include sponsors.html %}
    <div class="event-block">
      <div class="container">
        <div class="row event-flex">
          <div class="col-lg-6">
            <h2>Open Source Event</h2>
            {% include events/open-source-description.html %}
          </div>
          <div class="col-lg-6">
            <img class="icon-img" src="/assets/icons/code-machine.svg">
          </div>
        </div>
      </div>
    </div>
    <div class="event-block featured-project">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="image-cropper">
              <img class="speaker-img" style="{{ page.image-style }}" src={{ page.image }}>
            </div>
          </div>
            <div class="col-lg-6">
              <h2>{{ page.title }}</h2>
              {{ content }}
              We will be at <strong>{{ page.location-name }}</strong>
            </div>
        </div>
      </div>
    </div>
    <div class="event-block">
      <div class="container">
        <div class="row event-icon">
          <div class="col-lg-4">
            <img class="icon-img smaller-icon" src="/assets/icons/tools.svg">
            {% include events/open-source-bring.html %}
          </div>
          <div class="col-lg-4">
            <img class="icon-img smaller-icon" src="/assets/icons/pair-programing.svg">
            {% include events/open-source-pair-programing.html %}
          </div>
          <div class="col-lg-4">
            <img class="icon-img smaller-icon" src="/assets/icons/speaker.svg">
            {% include events/open-source-rfp-blurb.html %}
          </div>
        </div>
      </div>
    </div>
    <div class="event-block location">
      <div class="container-fluid">
        <div class="row parking-outer">
          <div class="col-lg-4 col-lg-offset-7 col-sm-6 col-sm-offset-6 col-xs-12 parking-inner">
            <h3>Parking</h3>
            <p>{% include {{ page.parking }} %}</p>
          </div>
        </div>
      </div>
      {% include events/open-source-location.html %}
    </div>
  </div>
  {% include footer.html %}
</html>


